<!DOCTYPE html>
<html>
  <head>
    <title>CrudVueRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="app" class="container my-4">
      <div class="row">
        <div class="col-md-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
